/* Importing Google Font "Inter" */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
    --lm_darkblue: #03045E;
    --lm_blue: #0077B6;
    --lm_lblue: #00B4D8;
    --lm_vlblue: #90E0EF;
    --lm_white: #CAF0F8;

    --dm-darkblue: #060616;
    --white: #FBFEFE;
    
    --btn-blue: #1366D9;
    --txt-gray: #667085;
    --txt-black: #060616;
}

/* Applying universal styles to all elements */
* {
    font-family: "Inter", sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Defining the body layout */
body {
    height: 100vh;
    display: grid;
    grid-template-columns: calc(12vw + 30px) 1fr;
    grid-template-areas: "side main";
}

/* Styling the sidebar */
.sidebar {
    background-color: #0077b6;
    font-size: 1vw;
}

/* Styling the unordered list in the sidebar */
.sidebar ul {
    list-style-type: none;
    display: block;
}

/* Styling the list items in the sidebar */
.sidebar li {
    margin-bottom: 2vh;
    align-items: center;
    border-radius: 0.5rem;
}

/* Adding hover effect on list items */
.sidebar li :hover {
    color: #10123e;
    background-color: #fbfefe;
    border-radius: 0.5rem;
}

/* Styling the navigation section in the sidebar */
.sidebar .nav-section {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: flex-end;
    padding: 1rem;
}

/* Styling the links in the sidebar */
.sidebar .sidebar-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fbfefe;
    padding: 0.75rem 0.5rem;
}

/* Styling the user section in the sidebar */
.user {
    display: flex;
    color: #fbfefe;
    align-items: center;
    background-color: #005989;
    padding: 20px;
    flex-direction: row-reverse;
    cursor: pointer;
}

/* Styling the user details in the sidebar */
.user .user-details {
    margin: 0px 10px;
    width: 80%;
}

.buttonH:hover {
    background-color: #555555;
    color: white;
}
/* Styling the user role text */
.user-details .user-role {
    font-size: 0.8vw;
}

/* Styling the user logout section */
.user-logout {
    height: 50%;
    display: flex;
    flex-direction: column-reverse;
}

/* Styling the Material Symbols */
.material-symbols-outlined {
    margin-right: 1rem;
    font-size: 1vw;
}

/* Styling the main content area */
.main-content {
    background-color: #e6f1f8;
    font-size: 1,5rem;
    padding: 20px;
    
}

.row:after{
    content: "";
    background-color: #e6f1f8;
    display: table;
    clear: both;
    
}

.column{
    float: left;
    padding: 5px;
    width: 50%;
    position: relative;
}
.total-column{
    float: left;
    padding: 5px;
    width: 50%;
    text-align: left;
}

.row total{
    padding: 5px;
    width: 100%;

}
.column-history{
    float: left;
    padding: 10px;
    width: 33%;
    
}

#first{
    border-radius: 2.5vw;
    background: #FAF9F6;
    padding: 1vw; 
    font-size: 20px;
    position: fixed;
    height: 85%;
    margin-left: 2%;
    width: 40vw;
}


table {
    border-collapse: collapse;
    margin-top:20px; 
    width:100%;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #000;
    font-size: 1rem;
}

.user-purchase {
    line-height: 1.5;
    
}

.purchase {
    display: block;
    margin: 15px 0;
}

.history {
    display: block;
    margin: 60px 0;
    position:fixed;
}

.purchase-order {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}


.button-Edit {
    border: 1px solid #FAF9F6;
    color: #FAF9F6;
    background-color: rgb(24, 139, 206);
    font-weight: bold;
    padding: 12px 24px;
    text-align: center;
    font-size: 1rem;
    margin: 4px 2px;
    border-radius: 5px;
    margin-right: 0;
    margin-left: auto;
    display: block;
    transition-duration: 0.2s;
    cursor: pointer;
}
.button-Edit:hover {
    border: 1px solid #28282B;
    color: #008CBA;
    background-color: white;
    
}

.purchase-button {
    width: 100%;
    float: left;
    text-align: center;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.button-Order {
    border: 1px solid #FAF9F6;
    
    color: black;
    background-color: rgb(203, 206, 207);
    font-weight: bold;
    padding: 12px 24px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    margin-right: 0;
    margin-left: auto;
    display: block;
    transition-duration: 0.2s;
    cursor: pointer;
    
}
.button-Order:hover {
    border: 1px solid #28282B;
    color: #2C3E50;
    background-color: white ;
    
}
.button-delete-item {
    border: 1px solid #FAF9F6;
    
    color: black;
    background-color: rgb(203, 206, 207);
    font-weight: bold;
    padding: 12px 24px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    margin-right: auto;
    margin-left: 0;
    display: block;
    transition-duration: 0.2s;
    cursor: pointer;
    
}
.button-delete-item:hover {
    border: 1px solid #28282B;
    color: #2C3E50;
    background-color: white ;
    
}

.history-button {
    width: 100%;
    float: left;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 5px;
    right: 5px;
    
}
.total-button {
    width: 100%;
    float: left;
    text-align: center;
    position: absolute;
    bottom: 10vh;
    left: 10px;
    right: 10px;
    
}

.button-Back {
    display: none;
    border: 1px solid #FAF9F6;
    color: black;
    background-color: rgb(203, 206, 207);
    font-weight: bold;
    padding: 12px 24px;
    text-align: center;
    font-size: 1rem;
    margin: 4px 2px;
    border-radius: 5px;
    float: left;
    left: 0px;
    transition-duration: 0.2s;
    cursor: pointer;
  
}
.button-Back:hover {
    border: 1px solid #28282B;
    color: #2C3E50;
    background-color: white ;
    
}

.button-Delete {
    
    border: 1px solid #FAF9F6;
    color: black;
    background-color: rgb(203, 206, 207);
    font-weight: bold;
    padding: 12px 24px;
    text-align: center;
    font-size: 1rem;
    margin: 4px 2px;
    border-radius: 5px;
    float: center;
    transition-duration: 0.2s;
    cursor: pointer;
  
}
.button-Delete:hover {
    border: 1px solid #28282B;
    color: #2C3E50;
    background-color: white ;
    
}

.button-Next {
    display: none;
    border: 1px solid #FAF9F6;
    color: black;
    background-color: rgb(203, 206, 207);
    font-weight: bold;
    padding: 12px 24px;
    text-align: center;
    font-size: 1rem;
    margin: 4px 2px;
    border-radius: 5px;
    float:right;
    transition-duration: 0.2s;
    cursor: pointer;
    
}
.button-Next:hover {
    border: 1px solid #28282B;
    color: #2C3E50;
    background-color: white ;
    
}

.button-Icon {
    display: inline-flex;
    position: relative;
    border:none;
    background-color: transparent;
    size: 1vw;
    padding: 15px 5px;
    cursor: pointer;
    font-size: 1rem;
}

.button-Icon .material-symbols-outlined {
    margin-left: 8px;
}

.button-Icon .material-symbols-outlined:hover {
    border: 1px solid #28282B;
    color: #2C3E50;
    background-color: white ;
}

.scrollable {
    overflow-y: auto;
    height: 40vh;
}

.scrollable thead th {
    position: sticky;
    top: 0px;
}

table{
    border-collapse: collapse;
    width: 100%;
}


.popup {
    display: none;
    position: fixed; 
    z-index: 1;
    top:0;
    left:0;
    width: 100%; 
    height: 100%;  
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }

.modal-content {
    background-color: var(--white);
    margin: 5% auto 15% auto; 
    border: 1px solid var(--lm_darkblue);
    width: 30%;
    height: max-content;
}

.modal-content span{
    align-items: flex-end;
    cursor: pointer;
 }

 .pop-container, .pop-save{
    padding: 1vw 2vw;
 }

.pop-container h1{
    color: var( --lm_darkblue);
    font-size: 1vw;
}

.pop-container input[type=text], .pop-container input[type=password] {
    width: 100%;
    padding: 0.5vw 0rem 0.5vw;
    margin: 0.8vw 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgba(58, 59, 63, 0.2);
    outline: none;
    resize: none;
    color:  rgba(76, 78, 88, 0.5);
    font-size: 1rem;
    letter-spacing: 0.075rem;
}

.div-pass{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-pass span{
    float: right;
    padding: 0.5vw 0rem 0.5vw;
    margin: 0;
    font-size: 1.25rem;
    border-bottom: 1px solid rgba(58, 59, 63, 0.2);
    cursor: pointer;
}

.pop-head{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2vw;
    margin-bottom: 1vw;
    border-bottom: 1px solid rgba(58, 59, 63, 0.2);
}

.pop-head h1{
    width: 100%;
    text-align: center;
    color: var(--dm-darkblue);
    font-size: 2vw;
}

.pop-exit{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.pop-exit span{
    font-size: 2vw;
    padding: 0 1vw 0 1vw;
}

.pop-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pop-save{
    width: 100%;
    justify-content: center;
    background-color: var(--btn-blue);
    border: none;
    border-radius: 0.5rem;
    padding: 0.75vw;
    margin: 2vw 0 1vw 0;
    color: white;
    font-size: 1.2vw;
}
